
<div class="ui myform warning form segment" id="myForm" >
	<div class="ui warning message" ng-if="!showData">
		<div class="header">Server Message</div>
		<ul class="list">
			<li> {{message}}</li>
		</ul>
	</div>
    
    <div class="ui error message segment"></div>
	
    <div class="ui secondary segment">
	  <div class="two fields">
		<div class="field">
		  <label>Field0</label>
		  <input placeholder="autoid" type="text" ng-model="formData['field0']" ng-readonly="formData.field0">
		</div>
		<div class="field">
		  <label>Field1</label>
<!-- 		  <input value="{{dateTime.now() | date:'yyyy-MM-dd HH:mm:ss'}}" type="text" name="f1"
				 ng-bind="formData['field1']" readonly="readonly">	 --> 	
			<input  type="text" ng-model="formData.field1"  ng-show="formData.field1" readonly="readonly" id="f1">
			<input  type="text" ng-model="dateTime"  ng-show="!formData.field1" readonly="readonly">			
		</div>
	  </div>
	  <div class="four fields">
		<div class="field">
		  <label>Field2</label>
		  <input placeholder="todo" type="text" name="todo" ng-model="formData['field2']">
		</div>
		<div class="field">
		  <label>Field3</label>
		  <input placeholder="password" type="password" name="psw" ng-model="formData.field3">
		</div>
		<div class="field">
		  <label>Field4</label>
		  <input placeholder="due date" type="text" ng-model="formData.field4" ng-init="formData.field4=dateTime">
		</div>	
		<div class="field">
		  <label>Gender</label>
		  <select class="ui dropdown" name="sex">
			<option value="">Gender</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
		  </select>
		</div>		
	  </div>
	  <div class="inline field">
		<div class="ui checkbox">
		  <input type="checkbox" name="ckb" ng-model="formData.field5" ng-init="formData.field5=false">
		  <label>Field5:({{formData.field5}})</label>
		</div>
	  </div>	  
	  <div class="field">
		<label>Field6</label>
		<textarea rows="2" name="textarea" ng-model="formData.field6"></textarea>
	  </div>
		<!-- <div class="ui submit button" >{{formData.field0==null ? 'AddNew' : 'Modify'}}</div>  -->
		<button class="ui positive submit button" ng-disabled="formData.field0" >AddNew</button>
		<button class="ui primary submit button" ng-disabled="!formData.field0" >Modify</button>
		<button class="ui secondary button" ng-show="formData.field0" ng-click="formClean()">ClearAll</button> 	
		<button class="ui red button" ng-disabled="!formData.field0" ng-click="del(formData.field0)">Delete</button>
		<div class="ui clear button">Clear</div>
		<div class="ui reset button">Reset</div>
  </div>

</div>  

<div class="ui myTab segment"  ng-if="showData">
	<table class="ui selectable celled table">
	  <thead>
		<tr>
			<th ng-repeat="(key, val) in dbItems.objects[0]">{{key}}</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="item in dbItems.objects" ng-click="updateForm(item,$index)">
		  <td ng-repeat="(key, val) in item">{{val}}</td>
		</tr>
	  </tbody>
	  <tfoot>
		<tr><th colspan="{{cntFields}}">
		  <div class="ui right floated pagination menu">
			<a class="icon item">
			  <i class="left chevron icon" ng-click="getPage(currPage-1)"></i>
			</a>
			<a class="item">{{currPage}}</a>
			<a class="icon item">
			  <i class="right chevron icon" ng-click="getPage(currPage+1)"></i>
			</a>
			<a class="item">
				<div class="ui action input">
				  <input type="text" placeholder="{{cntPages}} Pages" size=8>
				  <div class="ui button">Goto</div>
				</div>
			</a>			
		  </div>
		</th></tr>
	  </tfoot>
	</table>
</div>